<%- contentFor('HeaderCss') %>
<%- contentFor('HeaderStyle') %>
<% include ../Partials/HeaderStyle  %>
<%- contentFor('Header') %>
<%- contentFor('Sidebar') %>
<%- contentFor('body')  %>

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div  style="justify-content: space-between; display: flex; width: 100%;">
        <a class="navbar-brand" href="/campeao/analise">Análise de Campeões</a>
        <a class="navbar-brand" href="#">Fórum</a>
    </div>
</nav>

<center style="padding: 20%; justify-content: center;">
    <% if (!localizado && typeof localizado != 'undefined') { %>
        <script type="text/javascript">
            $(document).ready(function () {
                        var alertTitle = "<%= alertTitle %>"
                        var alertMessage = "<%= alertMessage %>"
                        swal(alertTitle, alertMessage, "error");
            })
        </script>
    <% } %>
    <% if (localizado) { %>
        <script>
            $(document).ready(function () {
                        swal({
                                title: "<%= alertTitle %>",
                                text: "<%=  alertMessage %>",
                                icon: "success",
                                buttons: true,
                                dangerMode: true,
                                })
                                .then((willDelete) => {
                                if (willDelete) {
                                    swal("Que ótimo!!! Aguarde e você será redirecionado", {
                                    icon: "success",
                                    });
                                    sessionStorage.setItem("setSearched", "1")
                                    setTimeout(function(){ window.location.href = "/invocador/data/"+"<%= id %>"; }, 3000);
                                } else {
                                    swal("Fica tranquilo, sempre que quiser poderá nos consultar");
                                }});
            })
        </script>
    <% } %>
    <form action="/invocador/status" method="POST" name="form1" style="display: flex;">
        <input placeholder="Insira seu nome de Invocador" type="text" name="fname"
            style="width: 80%; text-align: center; justify-items: center; justify-content: center;"></input>
        <input class="btn btn-primary" type="submit" value="Clique para prosseguir"
            style=" text-align: center; justify-items: center; justify-content: center;">
    </form>
</center>
<%- contentFor('FooterJs') %>
<%- contentFor('BottomJs') %>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>


<style>
    body {
        background-image: url('../../public/assets/images/bg/SKTTeam.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .content-page {
        margin-left: 140px;
        overflow: hidden;
    }
</style>
<!-- nothing -->