<%- contentFor('HeaderCss') %>
<%- contentFor('HeaderStyle') %>
<% include ../Partials/HeaderStyle  %>
<%- contentFor('Header') %>
<% include ../Partials/Header  %>
<%- contentFor('Sidebar') %>
<% include ../Partials/Sidebar  %>
<%- contentFor('body')  %>
<br>
<a title="Criar um novo tópico" href="#" data-toggle="modal" data-target=".bs-example-modal-xl"><i
        class="fas fa-plus-circle fa-5x"></i></a>
<br><br><br><br>

<% if (allTopics) { 
    for( var index = 0; index < allTopics.length; index++ ) {
         let id = allTopics[index].id;
         let title = allTopics[index].title;
         let conteudo = allTopics[index].conteudo.substring(0,60);
         let categoria = allTopics[index].categoria;
         let dataCriacao = allTopics[index].data_criacao;
         let dataAtualizao = allTopics[index].data_ult_atualizacao;
         let iconId = allTopics[index].iconId;
         let usuarioNome = allTopics[index].usuarioNome;
    %>
<a class="cards" style="cursor: pointer;" data-id="<%= id %>" data-summonner="<%= usuarioNome %>">
    <div class="card mb-3" id="card-partida-<%=1%>">
        <div class="row no-gutters">
            <div class="col-md-2">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.22.1/img/profileicon/<%= iconId %>.png"
                        alt="" class="img-fluid img-thumbnail thumb-xl">
            </div>
            <div class="col-md-10">
                <div class="card-body">
                    <h5 class="card-title"> [FORUM][<%= categoria %>] : <%= title %> </h5>
                    <p class="card-text"> <%= conteudo %>... </p>
                    <p class="card-text"><small class="text-muted">Last updated in <%= dataAtualizao %></small></p>
                </div>
            </div>
        </div>
    </div>
</a>
<% 
    }
} %>
<!--  Modal content for the above example -->
<div class="modal fade bs-example-modal-xl" tabindex="-1" role="dialog" id="myModalTopic"
    aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myExtraLargeModalLabel"> Fórum - Criar um Novo Tópico</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" name="idTask">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="validationCustom01">Título</label>
                            <input type="text" class="form-control" name="topicName"
                                placeholder="Insira um título para o seu tópico" required>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="validationCustom01">Categoria</label>
                            <select class="form-control catTopic">
                                <option value="OFF"> -- Selecione a Categoria -- </option>
                                <option value="Bug"> Bug </option>
                                <option value="Inovação"> Inovação </option>
                                <option value="Patch Recente"> Patch Recente </option>
                                <option value="Dúvidas"> Dúvidas </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="validationCustom03">Descreva sobre</label>
                            <textarea class="form-control" id="topicContent"
                                placeholder="Insira o conteudo do seu tópico aqui" id="" cols="30" rows="5"
                                required></textarea>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary edit" id="topic-create" type="submit" style="width: 100%;">Criar novo
                    tópico</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<input type="hidden" id="message" data-toggle="modal" data-target=".messages">
<!--  Modal content for the above example -->
<div class="modal fade bs-example-modal-xl messages" tabindex="-1" role="dialog" id="myModalTopic" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="modaltitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-body">
                
                <div class="card mb-3" style="background-color: #6c757d;">
                        <div class="col-md-10">
                            <div class="card-body">
                                <p class="card-text"><small class="text-muted">Last updated in teste</small></p>
                            </div>
                        </div>
                </div>


               
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- /.modal -->



<%- contentFor('FooterJs') %>
<%- contentFor('BottomJs') %>
<style>
    .content-page {
        margin-left: 400px;
        overflow: hidden;
    }
</style>


<script>
    $(document).ready(function () {

        $('#topic-create').click(function () {
            let title = $('input[name=topicName]').val();
            let categoria = $(".catTopic option:selected").val();
            let conteudo = $('#topicContent').val();

            if (title == '' || conteudo == '' || categoria == 'OFF') swal("Informações Faltantes", "Por favor preencha o formulário completo para registro", "error");
            else {
                $.ajax({
                    type: 'POST',
                    cache: false,
                    contentType: 'application/json',
                    data: JSON.stringify({ title, conteudo, categoria }),
                    url: 'http://localhost:5000/forum/topico/criar',
                    success: function() {
                        alert('tetes')
                    }
                }).then((data) => {
                    alert('entrou')
                    if(data) { swal("Tópico criado com sucesso", "Parabéns, em breve você conseguirá visualizar e interagir com os demais usuários", "success") };
                });
            }
        })
        

        $('#teste').click(function() {
            alert('teste');
        })

        $('.cards').click(function() {
            let identificador = $(this).data('id');
            let summonner = $(this).data('summonner');
            $('#message').trigger('click');
            
            $.ajax({
                type: 'GET',
                cache: false,
                contentType: 'application/json',
                url: 'http://localhost:5000/forum/topico/'+identificador,
                error: function (result) { 
                    console.log("Deu Ruim ai Amigo"); 
                }}).then((data) => {
                    let title = $('#modaltitle');
                    let firstMessage = `<div class="card mb-3" style="background-color: #BEF5FA;">
                                                <div class="col-md-10">
                                                    <div class="card-body">
                                                        <p class="card-text"> [Usuário] ${summonner}: ${data.conteudo}</p>
                                                        <p class="card-text"><small class="text-muted">22/05 11:00</small></p>
                                                    </div>
                                                </div>
                                        </div>`;
                    let content = '';
                    

                    // Percorrer as mensagens
                    $.ajax({
                        type: 'GET',
                        cache: false,
                        contentType: 'application/json',
                        url: 'http://localhost:5000/forum/topico/mensagens/'+identificador,
                        error: function (result) {
                            console.log(result)
                            swal("Houve um erro", "Tente novamente mais tarde", "error");
                        },
                        success: function (result) {
                        
                        result.forEach(element => {
                            content += `<div class="card mb-3" style="background-color: #BEF5FA;">
                                                <div class="col-md-10">
                                                    <div class="card-body">
                                                        <p class="card-text"> [Usuário] ${element.usuarioNome}: ${element.conteudo}</p>
                                                        <p class="card-text"><small class="text-muted">${element.data_criacao}</small></p>
                                                    </div>
                                                </div>
                                        </div>`;
                        });

                        let textArea = `<textarea name="message" id="textmessage" cols="30" rows="7" style="width: 100%;"></textarea>
                                        <button class="btn btn-primary" style="width: 100%;" id="sendMessage"> Responder Tópico </button>`;
                        let otherMessages = `<div id="other">${content}</div>`;
                        let body = $('#modal-body');

                        body.html(firstMessage + otherMessages + textArea);
                        title.html(`Histórico de Conversa - Fórum ${data.title}`);

                        $('#sendMessage').click(function() {

                            let conteudo = $('#textmessage').val();

                            $.ajax({
                                type: 'POST',
                                cache: false,
                                contentType: 'application/json',
                                data: JSON.stringify({ conteudo, topicoId:identificador }),
                                url: 'http://localhost:5000/forum/topico/responder',
                                error: function (result) {
                                    console.log(result)
                                    swal("Mensagem não Enviada", "Houve um erro no momento do envio da mensagem, por favor tente novamente", "error");
                                },
                                success: function (result) {
                                    swal("Mensagem Enviada", "Obrigado por contribuir em nosso fórum", "success");
                                    let htmlMessages = $('#other');
                                    htmlMessages.append(`<div class="card mb-3" style="background-color: #BEF5FA;">
                                                                    <div class="col-md-10">
                                                                        <div class="card-body">
                                                                            <p class="card-text"> [Usuário] <%= User.nome %> : ${result.conteudo}</p>
                                                                            <p class="card-text"><small class="text-muted">Escrito em ${result.data_criacao}</small></p>
                                                                        </div>
                                                                    </div>
                                                            </div>`);
                                }
                            })
                        })
                    }
                })
            });

                
        });

        function buscaMensagens(identificador)
        {
            let output = false;
            

            return output;
        }
    })

</script>
<!-- nothing -->